<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zcalculator" >
        <activity
            android:name=".quickies.Time"
            android:exported="false" />
        <activity
            android:name=".quickies.Tip"
            android:exported="false" />
        <activity
            android:name=".quickies.Length"
            android:exported="false" />
        <activity
            android:name=".quickies.Power"
            android:exported="false" />
        <activity
            android:name=".quickies.Area"
            android:exported="false" />
        <activity
            android:name=".quickies.Pressure"
            android:exported="false" />
        <activity
            android:name=".quickies.Data"
            android:exported="false" />
        <activity
            android:name=".quickies.Mass"
            android:exported="false" />
        <activity
            android:name=".quickies.Volume"
            android:exported="false" />
        <activity
            android:name=".quickies.Speed"
            android:exported="false" />
        <activity
            android:name=".quickies.Tempeture"
            android:exported="false" />
        <activity
            android:name=".Graphs"
            android:exported="false" />
        <activity
            android:name=".MainCalculator"
            android:exported="false" />
        <activity
            android:name=".ScanAndSolve"
            android:exported="false" />
        <activity
            android:name=".Quickies"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>